.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    color:black;
    background: rgb(220, 215, 215) ;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
  }
  
  input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .auth-btn {
    width: 100%;
    padding: 10px;
    background: #054407;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .toggle-link {
    color: blue;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .close-btn {
    background: rgb(157, 12, 12);
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  