@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
  .home-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
   background-image: linear-gradient(to right top, #471156, #43195f, #3e2069, #362772,
    #2b2e7b, #2f3080, #333286, #37348b, #4d308d, #61298c, #741f8a, #860d86);
    color: white;
}


.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif; /* Modern and clean font */
  text-transform: uppercase;
  background: linear-gradient(45deg, #eaa927, #c08b05, #c0a303df);


  background-clip:text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-shadow: 2px 2px 10px rgba(255, 140, 0, 0.4);
  animation: pulseGlow 3s infinite alternate ease-in-out;
}

/* Subtle Glowing Animation */
@keyframes pulseGlow {
  0% {
    text-shadow: 2px 2px 15px rgba(255, 140, 0, 0.6);
  }
  100% {
    text-shadow: 2px 2px 20px rgba(255, 0, 128, 0.8);
  }
}

.hero {
  max-width: 900px;
  padding: 20px;
}


.hero p {
  font-size: 1.3rem;
  line-height: 1.5;
  max-width: 700px;
  margin: 0 auto;
}

.home-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 16px 40px;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  background: #874318;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s, background 0.3s;
  box-shadow: 0px 5px 15px rgba(255, 152, 0, 0.5);
}

.home-btn:hover {
  background: #c5721a;
  transform: scale(1.1);
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 90%;
  max-width: 1000px;
  margin-top: 40px;
}

.feature-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: black;
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: scale(1.05);
}
.feature-icon {
  font-size: 2.5rem;
  color: #e63946;
  margin-bottom: 10px;
}
.full-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scrolling-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scrolling-text {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f7c709; 
  animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

